
body{
    background-color:antiquewhite;
}

.hover-shadow:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 35px rgba(0,0,0,0.1);
}

.hover-scale:hover {
    transform: scale(1.05);
}

.transition-all {
    transition: all 0.3s ease;
}

.object-fit-cover {
    object-fit: cover;
}